
<div>
    
    <% if(totalPages > 1) { %>
        <ul class="pagination">
            <% if(currentPage > 1) { %>
                <li class="page-item"><a class="page-link" href="?page=1">&laquo;</a></li>
            <% } %>
            <% for(let i = 1; i <= totalPages; i++) { %>
                <li class="page-item <% if(i === currentPage) { %> active <% } %>"><a class="page-link" href="?page=<%= i %>"><%= i %></a></li>
            <% } %>
            <% if(currentPage < totalPages) { %>
                <li class="page-item"><a class="page-link" href="?page=<%= totalPages %>">&raquo;</a></li>
            <% } %>
        </ul>
    <% } %>
    </div>
    
    <!-- Display posts -->
    <section class="posts_container">
        <% data.forEach(post => { %>
            <a href="/repository/post/<%= post._id %>" class="btn btn-primary" style="background:none; border: none;"> 
                <div class="posts">
                    <img src="/<%= post.postImage %>" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><%= post.title %></h5>
                    </div>
                </div>
            </a>
        <% }) %>
    </section>
    