<div class="showPost_heading">
    <a href="/repository" class="back-btn">&larr; Back</a>
</div>

<div class="showPost_container">
    <div class="dates">
        <% if (data.createdAt && data.updatedAt) { %>
            <small>Created at: <%= data.createdAt.toDateString() %> </small> 
            <small>Last updated at:  <%= data.updatedAt.toDateString() %> </small>
        <% } %>
    </div>
    <h2 class="post_title"><%= data.title %></h2>
    <div class="post_image_container">
        <% if (data.postImage) { %>
            <img src="/<%= data.postImage %>" alt="..." class="post_image">
        <% } %>
    </div>
    <p class="post_description">
        <%= data.description %>
    </p>
</div>
